@font-face{

  font-family: MrEavesXLModNarOT-Reg;
  
  src: url('fonts/MrEavesXLModNarOT-Reg.ttf');

  font-family: redshift;

  src: url('../fonts/Redshift-Regular.ttf');

  font-family: ProximaNova;

  src: url('../fonts/Proxima\ Nova\ A\ W07\ Medium.ttf')
  
  }

body {
    font-family: 'Lato', Verdana;
    font-size: 100%;
    margin: 0 auto;
    background: #fff;
  }
  .block1 {
    background-image: url("../img/background1.png"); 
    background-position: center;
    background-size: cover;    
  }
  .block-wrapper {
    margin: 0 auto;
    width: 70%;  /* отступы относительно окна браузера */
    display: block;
  }
  .header{
    padding: 1.3em 0em; /* поля вокруг текста */
  }
  .logo{
    float: left; /* обтекание логотипа */
    display: block;
    margin-top: 48px;
  }

  .nav {
    margin-top: 60px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
 
  .nav > ul > li {
      display: inline-block;
  }
  
  .nav > ul > li > a {
    display: block;
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
    padding: 0.5em 1em;
    color: #fff;
    -webkit-transition: 0.9s; /* плавный переход  */
    -moz-transition: 0.9s;
    -o-transition: 0.9s;
    transition: 0.9s;
    text-decoration: none;
  }

  .sign-up {
    display: block;
    float: right;
    margin-top: 53px;
  }

  .sign-up > button {
    background-color: transparent;
    color: #fff;
    border-width: 1px;
    border-radius: 3px;
  }

  .text-head {
    display: block;
    margin-top: 248px;
    position: absolute;
  }

  .text-head > h1 {
    text-transform: capitalize;
    color: #fff;
  }

  .text-plain {
    display: block;
    margin-top: 382px;
    position: absolute;
  }

  .text-plain > p {    
    color: #fff;
  }

  #buy-now {
    display: block;
    margin-top: 508px;
    width: 150px;
    height: 55px;
    background-color: #061e37;
    position: absolute;
    color: #fff;
    border-radius: 10px;
    border-color: #061e37;
  }

  #buy-free {
    display: block;
    margin-top: 508px;
    margin-left: 180px;
    width: 150px;
    height: 55px;
    background-color: #fff;
    position: absolute;
    color: #061e37;
    border-radius: 10px;
    border-color: #fff;
  }

  iframe {
    margin-top: 246px;
    margin-left: 918px;
    background-color: #fff;
  }

  .block2 {
    display: block;
    position: relative;
    background-color: #fff;
  }

  .easy-useful {
    margin-top: 100px;
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
  }

  .easy-useful > h1 {
    font-family: ProximaNova;
    font-size: 45px;
  }
  
  .proj-man-tool {
    margin-top: 30px;
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    opacity: 0.5;
  }

  .block2-p {
    margin-top: 28px;
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    opacity: 0.5;
    text-align: center;
  }

  .team-row {
    margin-top: 70px;
    
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  figure {
    display: inline-block;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
  }
  
  figure img {
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }

  figure figcaption {
    font-size: 16px;
    font-weight: 300;
    margin-top: 5px;
    text-align: center;
  }
  
  figure figcaption span {
    display: block;
    font-size: 10px;
    opacity: 0.5;
    text-align: center;
    color: black;
    width: 347px;
  }
  
  .team-row > div {
    margin-top: 20px;
    
  }
  
  .block2 button {
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-top: 80px;
    margin-bottom: 100px;
    text-transform: uppercase;
    padding: 23px 23px 23px 28px;
    background-color: #1de9b6;
    border-radius: 8px;
    color: #fff;
  }

  .block3 {
    display: block;
    position: relative;
    height: 150px;
    background: rgb(128,216,255);
    background: linear-gradient(90deg, rgba(128,216,255,1) 0%, rgba(128,216,255,1) 50%, rgba(234,128,252,1) 50%, rgba(234,128,252,1) 100%);
  }

  .flex-boxes {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 70%;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .flex-boxes img {
    display: block;
    float: left;
  }

  .flex-boxes span {
    display: block;
    float: left;
  }

  .business {
    background-color: #80d8ff;
  }

  .downloads {
    background-color: #82b1ff;
  }

  .installs {
    background-color: #b388ff;
  }

  .users {
    background-color: #ea80fc;
  }

  .elem {
    height: 150px;
    width: 25%;
    display: block;
    position: relative;    
  }
  
  .elem > img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    left: 50%;
    transform: translate(-50%);
  }

  .elem > p {
    
    position: absolute;
    top: 70%;
    margin-top: -50px;
    margin-left: 65%;
    color: #fff;
  }